---
---

body
{
    color: #222831;
    background-color: #fefefe;

    a
    {
        color: #00adb5;
    }

    h1,
    h2,
    h3
    {
        color: #393e46;
    }

    h1,
    h2
    {
        font-variant: small-caps;
    }

    h2
    {
        margin-top: 3rem;
    }

    p
    {
        line-height: 1.9rem;

        text-align: justify;
    }

    ul
    {
        list-style: none outside;
    }
    .content, footer
    {
        font-family: 'Times New Roman', Georgia, serif;
        font-size: 1.4rem;

        max-width: 800px;
        margin-right: auto;
        margin-left: auto;
        padding: 1rem;
    }

    footer
    {
        font-size: 0.9rem;
        max-width: 450px;
        border-top: 1px solid gray;
        padding-top: 0.5rem;
        color: gray;
    }

    footer p
    {
        text-align: center;
        line-height: 1rem;
    }
}
