---
layout: default
title: Open Science Company Manifesto
---

{% for p in site.pages %}
{% if p.url contains '/version/' and p.current %}
{{ p.content }}
{% endif %}
{% endfor %}

<div class="clear"></div>

<h3 id="versions">Versions</h3>

<ul class="versions">
{% for p in site.pages %}
{% if p.url contains '/version/' %}
    <li class="version">
    {% assign name = p.name|replace:'.md','' %}
    {% if p.current %}
        <a href="{{ p.url }}"><strong>{{ name }}</strong></a>
    {% else %}
        <a href="{{ p.url }}">{{ name }}</a>
    {% endif %}
        created on {{ p.created_at|date_to_long_string }}
        {% if p.status %}(status: {{ p.status }}){% endif %}
    </li>
{% endif %}
{% endfor %}
</ul>

<h3 id="adopters">Adopters</h3>

<ul class="adopters">
    {% for adopter in site.data.adopters %}
    <li class="adopter">
        <a href="{{ adopter.url }}">{{ adopter.name }}</a>
    </li>
    {% endfor %}
</ul>
