// Colors
$body-font-color: #222831;
$body-background-color: #fefefe;
$content-background-color: $body-background-color;
$heading-font-color: #393e46;
$footer-font-color: #666;
$primary-color: #00adb5;
