<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}The Open Science company Manifesto {{ page.name|replace:'.md','' }}{% endif %}</title>

    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>

    <header>
      <nav>
        <ul>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="https://github.com/TailorDev/manifesto">Project</a>
          </li>
          <li>
            <a href="/#versions">Versions</a>
          </li>
          <li>
            <a href="/#adopters">Adopters</a>
          </li>
          <li>
            <a href="https://tailordev.fr/blog/2016/06/17/open-science-company-manifesto/">About</a>
          </li>
        </ul>
      </nav>
    </header>

    <div class="content">
        {{ content }}
    </div>

    <div class="clear"></div>

    <footer>
        <p>You can contribute to this page by <a href="https://github.com/TailorDev/manifesto/edit/gh-pages/{{ page.path }}">editing it on GitHub</a>.</p>
        <p>
            This content is licensed under a
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, publicly released
            and hosted on <a href="https://github.com/TailorDev/manifesto">GitHub</a>.
        </p>
    </footer>
  </body>

</html>
